@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*creating a  variable,this would be our color palette*/
:root{
--accent-color:rgb(130, 198, 130);
--base-color:white;
--text-color:black;
--input-color:#d2ebea;
}
*{
    margin:0;
    padding:0;
}
html{
    font-family:Poppins,Segoe UI,sans-serif;
    font-size:12pt;
    text-align:center;
    color:var(--text-color);
}
body{
    min-height:100vh;
    background-image:url(background.jpg);
    background-size:cover;/*show the entire image*/
    background-position:right;
    overflow:hidden; /*not scrollabe page*/
}
.wrapper {
    background-color: white;
    height:100vh;
    width: max(40%,600px); /*takes the biggest value*/
    padding:10px;
    border-radius:0 20px 20px 0;
    box-sizing:border-box;/*borders and padding will be created inwards*/
   /*centering the content*/
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;/*justify content is horizontal alignement*/
    
}
h1{
    font-size:3rem;/*3 time the initial font-size*/
    font-weight:900;
    text-transform:uppercase;
}
form{
    width:min(400px,100%);/*will return the smaller value*/
    margin-top:20px;
    margin-bottom:50px;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:10px;/*to often organize layout inside the form*/


}
form > div {/*only the direct child div element*/
width:100%;
display:flex;
justify-content:center;
/*to turn this into a flexbox layout, to foster responsive layouts,elements*/
}
form label{
    flex-shrink:0;/*because we want it a fixed size of 50px*50px */
    height:50px;
    width:50px;
    background-color:var(--accent-color);
    fill:var(--base-color);
    color:var(--base-color);/*using the normal color property for the @ cause it is just a normal text inside a span*/
    border-radius:10px 0 0 10px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:1.5rem;

}
form input{
    box-sizing:border-box;/*to maintain a consistent size*/
    flex-grow:1;
    min-width:0;/*to have fully responsive resizing of the element*/
    height:50px;/*same as the labels*/
    padding:1em;
    font:inherit;
    border-radius:0 10px 10px 0;
     border:2px solid var(--input-color);
     border-left:none;
    background-color:var(--input-color);
    transition:150ms ease;/*adding a transition to make it smoother*/
}
form input:hover{
   border-color:var(--accent-color);/*changing its color now*/

}
form input:focus{
  outline:none;  /*having no focus effect going on*/
  border-color:var(--text-color);

}
div:has(input:focus)/*all of the div with the input where the focus is applied*/ >/*specifying to direct */ label{
    background-color:var(--text-color);
}
form input::placeholder{
    color:var(--text-color);
    opacity:0.5;
  
}
form button{
    margin-top:10px;
    border:none;
    border-radius:1000px;
    padding:.85em 4em;/*font size of the element*/
    background-color:var(--accent-color);
    color:var(--base-color);
    font:inherit;
    font-weight:600;
    text-transform:uppercase;
    cursor:pointer;/*improving the hover state*/
    transition:150ms ease;/*making the color change smoother*/
}
form button:hover{
background-color:var(--text-color);
}
form button:focus{
    /*removing the focus around*/
    outline:none;
    background-color:var(--text-color);

}
a{
    text-decoration:none;
    color:var(--accent-color);

}
a:hover{
    text-decoration:underline;
}
/*making it responsive using a media query*/
@media(max-width:1100px){
    .wrapper{
        width:min(600px,100%);/*it will take either 600px or 100% depending on the screen */
/*so in smartphone screens,they aren't gonna see the background image anyways*/
    }
}
.incorrect label /*accessing the label inside*/ {
    background-color:#f06272;

}
.incorrect input {
    
}
